.container {
    height: 100vh;
    background: rgb(0, 0, 0);
}

.empty {
    color: white;
}

.catalog {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    width: 90%;
}
.pagination{

}