.header {

}
.top_header{
    margin-top: 10px;
    display: flex;
    background-color: transparent;
    width: 100%;
    color: white;
    align-items: baseline;
    justify-content: space-around;
    height: 50px;
}

.logo img{
    height: 50px;
}

.avatar {

}
.logout_btn{
    background-color: transparent;
    width: 100%;
    border: none;
    color: #282c34;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.menu_container {
    width: fit-content;

}

.dropdown_trigger {
    width: fit-content;
    margin-right: 1.5rem;
}

.dropdown_menu {
    position: relative;
    top: 15px;
    right: 63px;
    background-color: rgb(81, 116, 186);
    border-radius: 8px;
    padding: 10px 20px;
    width: 200px;
    color: #1c9bf6;
    z-index: 1;
}

.dropdown_menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 150px;
    height: 20px;
    width: 20px;
    background: rgb(81, 116, 186);
    transform: rotate(45deg);
}

.dropdown_menu a {
    color: #807f7f;
}

.dropdown_menu ul li {
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid #807f7f;
}

.dropdown_menu ul li:hover a {
    color: #cc0000;
    cursor: pointer;
}

.dropdown_menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.5s ease;
}

.dropdown_menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.8s ease;
}

.menu_username {
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    font-weight: 500;
    color: rgba(19, 35, 74, 0.78);
    line-height: 1.2rem;
    display: flex;
    flex-direction: column;
}

.menu_location {
    font-size: 14px;
    color: #807f7f;
    font-weight: 400;
}

.iconblock__avatar {
    margin: 4px auto;
    width: fit-content;
}
.bottom_header{
    display: flex;
    justify-content: space-around;
    color: white;
}

